* {
    box-sizing: border-box
}
a {
    text-decoration: none;
}
a:visited {
    color: black;
}
footer {
    text-align: center;
    padding: 3px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Asap', sans-serif;
    background: linear-gradient(120deg,#0683D7, #8D3FD0);
    background-size: 400% 400%;
}
h1 {
    text-align: center;
    padding: 1rem 1rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2px 0;
    color: whitesmoke;
    font-size: 1.75rem;
}
h2 {
    color: black;
    padding-right: 3rem;
    padding-left: 3rem;
}
p {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1rem;
}
table {
    padding: 3px 3px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 10px;
}
th, td {
    font-weight: bold;
    text-align: center;
}
sup {
    font-size: 1rem;
    position: relative;
    font-weight: bold;
    letter-spacing: -1px;
    margin: -1.5rem;
}
.card {
    margin: 0.5rem;
    background-color:white;
    border-radius: 7px;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0px 0px 60px darkslategray;
    transition: linear 0.1s;
    transform: scale(1.025,1.025);
}
.center {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -20%);
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-around;
}
.data {
    text-align: center;
    font-weight: bold;
}
.dropdown {
    margin: 0.5rem;
    background-color: coral;
    border-radius: 7px;
    font-size: 1.25rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    animation: pulse 1.5s ease-out 0s alternate 1 none running;
}
.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Asap', sans-serif;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    text-align: left;
    transition: all 1s ease-in;
}

.main-header {
    padding: 0.75rem 2rem 2rem 2rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.sub-header {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.sub-script {

}
.fade-in-data {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
.fade-in-cards {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}
.fade-in {
    animation: fadeIn ease 0.75s;
    -webkit-animation: fadeIn ease 0.75s;
    -moz-animation: fadeIn ease 0.75s;
    -o-animation: fadeIn ease 0.75s;
    -ms-animation: fadeIn ease 0.75s;
}

@-webkit-keyframes pulse {
    0% {transform: scale(.3); background-color: #001F3F;}
    100% {transform: scale(1); background-color: #FF4136;}
}
@-moz-keyframes pulse {
    0% {transform: scale(.3);background-color: #001F3F;}
    100% {transform: scale(1); background-color: #FF4136;}
}
@keyframes pulse {
    0% {transform: scale(.3); background-color: #001F3F;}
    100% {transform: scale(1); background-color: #FF4136;}
}
@keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@media screen and (min-device-width: 300px) {
    h2 {
        font-size: 1rem;
    }
    p,th,td {
        padding: 7px;
        text-align: center;
        font-size: 1.35rem;
    }
    sup {
        font-size: 1.5rem;
        margin-left: 5px;
    }
    .main-header {
        font-size: 3rem;
        padding-bottom: 1.45rem;
    }
    .sub-header {
        padding-top: -1.05rem;
        font-size: 1.35rem;
    }
    .data {
        font-size: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card {
        flex: 1 1 calc(100% - 1rem);
    }
    .fade-in-data {
        animation: fadeIn ease 1.75s;
        -webkit-animation: fadeIn ease 1.75s;
        -moz-animation: fadeIn ease 1.75s;
        -o-animation: fadeIn ease 1.75s;
        -ms-animation: fadeIn ease 1.75s;
    }
}
@media screen and (min-device-width: 400px) {
    h2 {
        font-size: 1rem;
    }
    sup {
        font-size: 1.5rem;
    }
    p, th,td {
        font-size: 1.5rem;
        padding-right: 20px;
        padding-left: 20px;
    }
    .main-header {
        font-size: 3.25rem;
    }
    .sub-header {
        padding-top: -2rem;
        font-size: 1.75rem;
    }
    .data {
        text-align: left;
        font-size: 4.75rem;
    }
    .card {
        flex: 1 1 calc(60% - 1.5rem);
    }
}
@media screen and (min-device-width: 700px) {
    h2 {
        font-size: 1.25rem;
    }
    p, th,td {
        font-size: 1.85rem;
        padding-right: 5px;
        padding-left: 5px;
    }
    sup {
        font-size: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .main-header {
        font-size: 3.85rem;
    }
    .data {
        font-size: 7.5rem;
    }
    .card {
        flex: 1 1 calc(50% - 1rem);
    }
}
@media screen and (min-device-width: 1000px) {
    h1 {
        font-size: 2rem;
    }
    sup {
        font-size: 2rem;
        margin-left: -2.5rem;
        margin-right: -6rem;
    }
    p, th,td {
        font-size: 2rem;
        padding-right: 0.85rem;
        padding-left: 0.85rem;

    }
    .main-header {
        font-size: 4rem;
    }
    .data {
        font-size: 6.15rem;
    }
    .card {
        flex: 1 1 calc(30% - 1.5rem);
    }
}
@media screen and (min-device-width: 1440px) {
    h1 {
        font-size: 4rem;
    }
    h3 {
        font-size: 5rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    p,th,td {
        font-size: 2.85rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .main-header {
        padding: 1rem 2rem 3rem 2rem;
        font-size: 5rem;
    }
    .sub-header {
        font-size: 3rem;
    }
    .data {
        font-size: 12rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .card {
        flex: 1 1 calc(50% - 9rem);
    }
}
@media screen and (min-device-width: 2560px) {
    h1 {
        font-size: 6rem;
    }
    h3 {
        font-size: 7rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    p,th,td {
        font-size: 4.5rem;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    .main-header {
        padding: 5rem 2rem 3rem 2rem;
        font-size: 7rem;
    }
    .sub-header {
        font-size: 3rem;
    }
    .data {
        font-size: 18rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .card {
        flex: 1 1 calc(50% - 9rem);
    }
}

.card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}
.card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
