* {
    box-sizing: border-box
}
a {
    text-decoration: none;
    color: black;
}
footer {
    text-align: center;
    padding: 3px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Asap', sans-serif;
    background: linear-gradient(120deg,#0683D7, #8D3FD0);
    background-size: 400% 400%;
    -webkit-animation: flowing 20s ease infinite;
    -moz-animation: flowing 20s ease infinite;
    animation: flowing 20s ease infinite;
}
h1 {
    text-align: center;
    padding: 1rem 1rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2px 0;
    color: whitesmoke;
    font-size: 1.75rem;
}
h3 {
    text-align: center;
    font-size: 1rem;
    color: white;
}
p {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1rem;
}
table {
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 10px;
}
th, td {
    font-weight: bold;
    text-align: center;
}
.card {
    margin: 0.5rem;
    background: white;
    border-radius: 7px;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0px 0px 60px darkslategray;
    transition: linear 0.1s;
    transform: scale(1.025,1.025);
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
}
.data {
    text-align: center;
    margin: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Asap', sans-serif;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    text-align: left;
    transition: all 1s ease-in;
}
.dropdown:hover .dropdown-content {display: block;}

.main-header {
    padding: 0.5rem 2rem 1.5rem 2rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.sub-header {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.fade-in-data {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
.fade-in-cards {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}
.fade-in {
    animation: fadeIn ease 0.75s;
    -webkit-animation: fadeIn ease 0.75s;
    -moz-animation: fadeIn ease 0.75s;
    -o-animation: fadeIn ease 0.75s;
    -ms-animation: fadeIn ease 0.75s;
}

@-webkit-keyframes flowing {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes flowing {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes flowing {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@media screen and (min-device-width: 300px) {
    p,th,td {
        padding: 7px;
        text-align: center;
        font-size: 1.35rem;
    }
    .sub-header {
        font-size: 1.45rem;
    }
    .data {
        font-size: 5rem;
    }
    .card {
        flex: 1 1 calc(70% - 1rem);
    }
}
@media screen and (min-device-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    p, th,td {
        font-size: 1.5rem;
        padding-right: 20px;
        padding-left: 20px;
    }
    .main-header {
        font-size: 3.75rem;
    }
    .data {
        text-align: center;
        font-size: 7.5rem;
    }
    .card {
        flex: 1 1 calc(60% - 1.5rem);
    }
}
@media screen and (min-device-width: 700px) {
    p, th,td {
        font-size: 1.85rem;
        padding-right: 5px;
        padding-left: 5px;
    }
    .main-header {
        font-size: 3.85rem;
    }
    .data {
        font-size: 7rem;
    }
    .card {
        flex: 1 1 calc(50% - 1rem);
    }
}
@media screen and (min-device-width: 1000px) {
    h1 {
        font-size: 2.75rem;
    }
    p, th,td {
        font-size: 2rem;
        padding-right: 0.85rem;
        padding-left: 0.85rem;
    }
    .main-header {
        font-size: 3.85rem;
    }
    .data {
        font-size: 6rem;
    }
    .card {
        flex: 1 1 calc(30% - 1.5rem);
    }
}
@media screen and (min-device-width: 1440px) {
    h1 {
        font-size: 4rem;
    }
    p,th,td {
        font-size: 2.85rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .main-header {
        padding: 1rem 2rem 3rem 2rem;
        font-size: 5rem;
    }
    .sub-header {
        font-size: 3rem;
    }
    .data {
        font-size: 12rem;
    }
    .card {
        flex: 1 1 calc(50% - 9rem);
    }
}
@media screen and (min-device-width: 2560px) {
    h1 {
        font-size: 6rem;
    }
    p,th,td {
        font-size: 4.5rem;
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    .main-header {
        padding: 5rem 2rem 3rem 2rem;
        font-size: 7rem;
    }
    .sub-header {
        font-size: 3rem;
    }
    .data {
        font-size: 19rem;
    }
    .card {
        flex: 1 1 calc(50% - 9rem);
    }
}

.card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}
.card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
