* {
    box-sizing: border-box
}

footer {
    text-align: center;
    padding: 3px;
    linear-gradient(120deg, #00D7FF 0%, #9F32B2 100%)
    color: white;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    background-image: linear-gradient(120deg, #00D7FF 1%, #9F32B2 50%);
}

h1 {
    text-align: center;
    padding: 1rem 1rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2px 0;
    color: whitesmoke;
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

h3 {
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

table {
    padding: 1rem 1rem;
    margin: 0;
    overflow: auto;
    height: 10px;
}

th {
    word-spacing: 3px;
    padding: 5px;
    font-size: 1rem;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    color: white;
    font-size: 500%;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 500px;
    text-align: center;
    padding: 16px 32px;
}

.button1 {
    margin: 1rem;
    background-color: #8fd3f4;
    border-color: transparent;
    transition: all .1s linear;
}

.card {
    margin: 0.5rem;
    background: #fffdd1;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 7px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 2px 8px 45px 2px darkslategrey;
    transform: scale3d(1.02,1.02,1.02);
    background-color: whitesmoke;
    transition: width 2s, height 2s, transform 0.1s;
}

.graph {
    padding: 1rem 1rem;
    margin: 0;
    overflow: auto;
}

@media screen and (min-device-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
    .card:hover {
        box-shadow: 2px 8px 45px 2.5px darkslategrey;
    }
}

@media screen and (min-device-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
    .card:hover {
        box-shadow: 2px 8px 45px 4px darkslategrey;
    }
}

.card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}