* {
    box-sizing: border-box
}

footer {
    text-align: center;
    padding: 3px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Asap', sans-serif;
    background-image: linear-gradient(120deg, #00D7FF 1%, #9F32B2 50%);
    background-repeat: repeat-x;
}

h1 {
    text-align: center;
    padding: 1rem 1rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2px 0;
    color: whitesmoke;
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

table {
    padding: 1rem 1rem;
    margin: 0;
    overflow: auto;
    height: 10px;
}

th {
    word-spacing: 3px;
    padding: 5px;
    font-size: 1rem;
}

.data {
    text-align: center;
    font-size: 5rem;
    color: gold;
    margin: 5px;
}

.national-header {
    padding: 0.75rem 2rem 1rem 2rem;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.provincial-header {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
}

.card {
    margin: 0.5rem;
    background: #fffdd1;
    border-radius: 7px;
    overflow: hidden;
}

.fade-in-data {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fade-in-cards {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.fade-in {
    animation: fadeIn ease 0.75s;
    -webkit-animation: fadeIn ease 0.75s;
    -moz-animation: fadeIn ease 0.75s;
    -o-animation: fadeIn ease 0.75s;
    -ms-animation: fadeIn ease 0.75s;
}
@keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0%  {opacity:0;}
    10% {opacity: 0.1;}
    20% {opacity: 0.2;}
    30% {opacity: 0.3;}
    40% {opacity: 0.4;}
    50% {opacity: 0.5;}
    60% {opacity: 0.6;}
    70% {opacity: 0.7;}
    80% {opacity: 0.8;}
    80% {opacity: 0.9;}
    100% {opacity:1;}
}

@media screen and (min-device-width: 300px) {
    h2 {
        text-align: center;
        font-size: 2rem;
    }
    .data {
        text-align: center;
        font-size: 5rem;
    }
    .card {
        flex: 1 1 calc(70% - 1.5rem);
    }
}

@media screen and (min-device-width: 600px) {
    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    .data {
        text-align: center;
        font-size: 4rem;
    }
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-device-width: 900px) {
    h2 {
        text-align: center;
        font-size: 2rem;
    }
    .data {
        text-align: center;
        font-size: 6rem;
    }
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}

.card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}